//оформлення сітки головної секції сторінки Portfolio

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    cursor: pointer;
}

.portfolio-list__item-link {
    display: block;
    color: inherit;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-list__item-img-thumb {
    position: relative;

    overflow: hidden;
    //ховаєвомо ту частину виїжджаючого оверлей, 
    //яка знаходиться за межами картинки у картці портфоліо
}

//оформлення оверлей
.portfolio-list__item-thumb-descr {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    
    padding: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #FFF;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;

    .portfolio-list__item-link:hover &,
    .portfolio-list__item-link:focus & {
        transform: translateY(0);
        opacity: 1;
    }
}

//кінець оформлення виїжджаючого оверлей


.portfolio-list__item-title-border {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border: 1px solid $portfolio-item-border-color;
    border-top: none;
}

.portfolio-list__item-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list__item-description {
    margin: 0;
    color: $secondary-font-color;
    font-size: 16px;
    line-height: 1.88;
}