//оформлення секції description
.description {
    padding-top: 30px;
    padding-bottom: 30px;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.description-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include tablet {
        margin-left: -30px;
    }
}

.description-item {
    @include screen-320-479px {
        min-width: 290px;
    }

    @include mobile {
        max-width: 450px;             
    }
    
    @include tablet {
        flex-basis: calc((100% - 4*15px) / 2);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:nth-child(2n+1) {
            margin-left: 30px;
        }
    }

    @include desktop {
        flex-basis: calc((100% - 8*15px) / 4);

        &:first-child {
            margin-left: 30px;
        }
    }
}

.description-icon-space {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;

    margin-bottom: 15px;

    justify-content: center;
    border-radius: 4px;
    background-color: $secondary-dark;

    @include mobile {
        margin-bottom: 30px;
    }
}

.description-title {
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;

    text-transform: uppercase;

    text-align: center;
    font-size: 12px;
    line-height: calc(14/12);

    @include mobile {
        font-size: 14px;
        line-height: calc(16.41/14);
    }
    @include tablet {
        text-align:start;

    }
}

.description-text {
    width: 100%;
    color: $secondary-font-color;
    margin-bottom: 0;

    font-size: 12px;
    line-height: calc(20/12);
    text-align: center;

    @include mobile {
        font-size: 14px;
        line-height: calc(24/14);
        text-align:start;
    }
}