//оформлення секції our-clients

.container--clients {
    padding-top: 30px;
    padding-bottom: 30px;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include mobile {
        margin-left: -30px;
    }
}

.clients-list__item {
    background-color: #fff;

    @include screen-320-479px {
        min-width: 290px;
        margin-left: auto;
        margin-right: auto;
    }

    @include mobile {
        flex-basis: calc((100% - 4*15px) / 2);
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        &:nth-child(2n+1) {
            margin-left: 30px;
        }
    }

    @include tablet {
        flex-basis: calc((100% - 6*15px) / 3);
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:nth-child(3n+1) {
            margin-left: 30px;
        }
    }

    @include desktop {
        flex-basis: calc((100% - 12*15px) / 6);

        &:first-child {
            margin-left: 30px;
        }
    }
}

.clients-list__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px 0;

    border: 1px solid $icon-color;
    border-radius: 4px;

    background-color: $main-light;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.clients-list__item-icon {
    fill: $icon-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    .clients-list__item-link:hover &,
    .clients-list__item-link:focus & {
        fill: $accent-color;
        outline: transparent;
    }
}