//оформлення заголовків до секцій

.section-title {

    @include desktop {
        font-size: 36px;
        line-height: 1.17;

        text-align: center;

        margin-top: 0;
        margin-bottom: 50px;
    }
}