//блок іконок соціальних мереж у footer

.footer-soc-link-block {
    padding-top: 12px;
    margin-left: 70px;
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: $main-light;
}

//оформлення іконок у файлі 
//_soc-link-block-team-section.scss