//шрифти
    $main-font: Roboto, san-serif;

//кольори

//кольори фону:

    //основний фон обох сторінок
    $main-light: #ffffff; 

    //фон футера
    $main-dark: #2F303A; 

    //фон секції команди та кнопок на аркуші з портфоліо
    $secondary-dark: #F5F4FA; 

//кольори шрифтів:

    //колір заголовків
    $main-font-color: #212121;

    //колір абзаців
    $secondary-font-color: #757575;
    
    //кольор логотипу та головних кнопок
    $accent-color: #2196F3;
    
    //колір у логотипі хедера
    $header-logo-font-color: #000;

    //колір у логотипі футера
    $footer-contacts-font: rgba(255, 255, 255, 0.6);

//кольори рамок елементів
    $portfolio-item-border-color: #EEEEEE;

//кольори іконок
    $icon-color: #AFB1B8;